# DATA ANALYTICS LOGISTICS

In [1]:
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd

### Importando a base

In [22]:
df = pd.read_csv("Base/bd.csv")

### Composição de coluna e head

In [23]:
df.head()

,ID_transporte,data,tempo_viagem,velocidade_media,consumo_combustivel,carga_transportada,ID_motorista,feedback_cliente
0,1,2022-01-01 08:15:00,30,60,10,100,101,4.5
1,2,2022-01-02 14:30:00,45,55,15,200,102,4.2
2,3,2022-01-02 10:45:00,20,40,8,50,103,4.8
3,4,2022-01-03 09:20:00,35,50,12,150,101,3.9
4,5,2022-01-04 12:10:00,50,45,18,250,104,4.6

### Tipos de dados

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_transporte        100 non-null    int64
 1   data                 100 non-null    object
 2   tempo_viagem         100 non-null    int64
 3   velocidade_media     100 non-null    int64
 4   consumo_combustivel  100 non-null    int64
 5   carga_transportada   100 non-null    int64
 6   ID_motorista         100 non-null    int64
 7   feedback_cliente     100 non-null    float64
dtypes: float64(1), int64(6), object(1)
memory usage: 6.4+ KB

### Principais informações sobre a base

In [25]:
df.describe()

,ID_transporte,tempo_viagem,velocidade_media,consumo_combustivel,carga_transportada,ID_motorista,feedback_cliente
count,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,39.750000,46.85000,13.490000,165.800000,104.250000,4.458000
std,29.011492,9.544553,7.83849,3.355969,64.810212,2.266912,0.280036
min,1.000000,20.000000,35.00000,8.000000,50.000000,101.000000,3.700000
25%,25.750000,30.000000,40.00000,10.000000,100.000000,102.000000,4.200000
50%,50.500000,40.000000,45.00000,13.000000,150.000000,104.000000,4.500000
75%,75.250000,46.250000,51.25000,15.500000,205.000000,106.000000,4.700000
max,100.000000,55.000000,60.00000,20.000000,300.000000,108.000000,4.900000

### Verificando a presenção de dados faltantes

In [26]:
df.isna().sum()

ID_transporte          0
data                   0
tempo_viagem           0
velocidade_media       0
consumo_combustivel    0
carga_transportada     0
ID_motorista           0
feedback_cliente       0
dtype: int64

### Observar alguns comportamentos iniciais dos dados

#### Existem 11 tipos de cargas a serem transportadas

##### Podemos observar algumas tendências para cada tipo de carga

In [27]:
df['carga_transportada'].unique()

array([100, 200,  50, 150, 250,  80, 180, 300, 120, 220, 280], dtype=int64)

In [54]:
def DescricaoBasica(Column):
    media = df[Column].mean()  
    mediana = df[Column].median()  
    desvio_padrao = df[Column].std() 
    min = df[Column].min() 
    max = df[Column].max() 

    return {
        'Média': media,
        'Mediana': mediana,
        'Desvio Padrão': desvio_padrao,
        'Mínimo': min,
        'Máximo': max
    }

In [55]:
DescricaoBasica('consumo_combustivel')

{'Média': 13.49,
 'Mediana': 13.0,
 'Desvio Padrão': 3.355968601242457,
 'Mínimo': 8,
 'Máximo': 20}

In [56]:
DescricaoBasica('feedback_cliente')

{'Média': 4.458,
 'Mediana': 4.5,
 'Desvio Padrão': 0.28003607271243114,
 'Mínimo': 3.7,
 'Máximo': 4.9}

In [57]:
DescricaoBasica('tempo_viagem')

{'Média': 39.75,
 'Mediana': 40.0,
 'Desvio Padrão': 9.544552626943016,
 'Mínimo': 20,
 'Máximo': 55}

In [58]:
DescricaoBasica('velocidade_media')

{'Média': 46.85,
 'Mediana': 45.0,
 'Desvio Padrão': 7.838489598890795,
 'Mínimo': 35,
 'Máximo': 60}